<!DOCTYPE HTML>
<html>
<head>
    <title>生日快乐</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body background="srbj.gif">
<!--<h1>LeanEngine</h1>-->
<!--<p>这是 LeanEngine 的示例应用</p>-->
<!--<p>当前时间：<%= currentTime %></p>-->
<!--<p><a href="/todos">一个简单的「TODO 列表」示例</a></p>-->
<div>
    <div class="center">
        <img src="00.gif" style="margin: 0 auto;">

    </div>
    <div class="center">

    </div>
    <div class="center"><span style="color: fuchsia;font-size:27px">在你生日来临之际，</span> </div>
    <div class="center"><span style="color: magenta;font-size:27px">我将快乐的音符，</span></div>
    <div class="center"><span style="color: fuchsia;font-size:27px">作为生日礼物送给你，</span></div>
    <div class="center">
        <span style="color: aqua;font-size:27px">祝福你：</span>
        <span style="color: red;font-size:37px">黑</span>
        <span style="color: crimson;font-size:37px">，</span>
        <span style="color: gold;font-size:37px">生</span>
        <span style="color: aqua;font-size:37px">日</span>
        <span style="color: chartreuse;font-size:37px">快</span>
        <span style="color: yellow;font-size:37px">乐</span>
        <span style="color: red;font-size:37px">!</span>
    </div>
    <div class="center">
        <img src="01.gif">
    </div>
    <div class="center">
        <img src="20.gif">
    </div>
    <div class="center">
        <img src="17.gif">
    </div>
</div>
</body>
</html>
